<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="card-header d-flex justify-content-between">
                        <h3>Dashboard</h3>
												<button class="btn btn-primary" @click="exportToCsv">Export to CSV</button>
                    </div>
                    <div class="card-body">
												<VouchersChart />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VouchersChart from "./VouchersChart.vue";

export default {
    name:"dashboard",
    data() {
			return {
				token:this.$store.state.auth.token,
				reports: []
			}
    },
		components: {
			VouchersChart
		},
		methods: {
			exportToCsv() {
				let headers = [
					'Voucher Code',
					'User ID',
					'User Name'
				];

				let content = "data:text/csv;charset=utf-8,";
				content += headers.join(";") + "\n";
				content += [
					...this.reports.map( function (item, index) {
						return [
							item.code,
							item.user.id,
							item.user.name
						].join(";")
					})
				].join("\n").replace(/(^\[)|(\]$)/gm, "");

				const data = encodeURI(content);
				const link = document.createElement("a");
				link.setAttribute("href", data);
				link.setAttribute("download", "VouchersReport.csv");
				link.click();
			}
		},
		mounted() {
			axios.get('/api/reports/voucher/csv', {'headers': { 'Authorization':  'Bearer ' + this.token }}).then(response => {
				this.reports = response.data
			}).catch(({ response })=>{
					console.error(response)
			})
		}
}
</script>