<template>
<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="card-header d-flex justify-content-between">
                      <h3>Vouchers</h3>
											<button class="btn btn-primary" @click="generateVoucher()">Generate</button>
										</div>
										<div class="card-body">
											<table class="table">
												<thead>
													<tr>
															<th>
																	<span
																			class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">ID</span>
															</th>
															<th>
																	<span
																			class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">Code</span>
															</th>
															<th>
																	<span
																			class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">Created</span>
															</th>
															<th>&nbsp;</th>
													</tr>
												</thead>
												<tbody>												
														<tr v-for="voucher in vouchers.data" :key="voucher.id" :value="voucher.id">
															<td>{{ voucher.id }}</td>
															<td>{{ voucher.code }}</td>
															<td>{{ voucher.created_at }}</td>
															<td>
																<div class="btn-group" role="group">
																	<button class="btn btn-danger" @click="deleteVoucher(voucher.id)">Delete</button>
																</div>
															</td>
														</tr>
												</tbody>
										</table>
										<LaravelVuePagination align="center" :data="vouchers" @pagination-change-page="getVouchers"></LaravelVuePagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import LaravelVuePagination from 'laravel-vue-pagination'

export default {
    name:"users",
		components: {
			LaravelVuePagination
		},
    data() {
        return {
            user:this.$store.state.auth.user,
            token:this.$store.state.auth.token,
						vouchers:{
							type:Object,
							default:null
						}
        }
    },
		mounted() {
			this.getVouchers()
		},
		methods: {
			async getVouchers(page=1) {
				await axios.get('/api/vouchers?page='+page, {'headers': { 'Authorization':  'Bearer ' + this.token }}).then(response => {
					this.vouchers = response.data;
				}).catch(({ response })=>{
						console.error(response)
				})
			},
			async deleteVoucher(id) {
				await axios.delete('/api/vouchers/'+id, { 'headers': { 'Authorization':  'Bearer ' + this.token }}).then(response => {
					// let i = this.vouchers.data.map(data => data.id).indexOf(id)
					// this.vouchers.data.splice(i, 1)
					this.getVouchers()
				})
			},
			async generateVoucher(id) {
				await axios.post('/api/vouchers', {}, { 'headers': { 'Authorization':  'Bearer ' + this.token }}).then(response => {
					// this.vouchers.data.shift(response.data)
					this.getVouchers()
				}).catch(({response:{data}})=>{
						alert(data.message)
				})
			}
		}
}
</script>