<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="card-header d-flex justify-content-between">
                        <h3>Users</h3>
                    </div>
                    <div class="card-body">
												<section>
													<table class="table">
														<thead>
														<tr>
																<th>
																		<span
																				class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">ID</span>
																</th>
																<th>
																		<span
																				class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">Name</span>
																</th>
																<th>
																		<span
																				class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">Total Vouchers</span>
																</th>
																<th>&nbsp;</th>
														</tr>
														</thead>

														<tbody>												
																<tr v-for="user in users" :key="user.id" :value="user.id">
																	<td>{{ user.id }}</td>
																	<td>{{ user.name }}</td>
																	<td>{{ user.vouchers_count }}</td>
																</tr>
														</tbody>
												</table>
											</section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"dashboard",
    data() {
        return {
            user:this.$store.state.auth.user,
            token:this.$store.state.auth.token,
						users: []
        }
    },
		created() {
			this.getUsers()
		},
		methods: {
			getUsers() {
				axios.get('/api/users', {'headers': { 'Authorization':  'Bearer ' + this.token }}).then(response => {
					this.users = response.data.data;
				})
			}
		}
}
</script>
