<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
						<router-link to="/" class="navbar-brand">Voucher</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="ml-auto">
                    <ul class="navbar-nav">
												<li class="nav-item" v-if="isAdmin">
													<router-link to="/admin" class="nav-link">Dashboard</router-link>
												</li>
												<li class="nav-item" v-if="isAdmin">
													<router-link to="/admin/users" class="nav-link">Users</router-link>
												</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.name }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="javascript:void(0)" @click="logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="mt-3">
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
    name:"app",
    data(){
        return {
            user:this.$store.state.auth.user,
						token:this.$store.state.auth.token,
						isAdmin: this.$store.state.auth.user.role == 'admin' ? true : false
        }
    },
    methods:{
        ...mapActions({
            signOut:"auth/logout"
        }),
        async logout(){
            await axios.post('/api/logout', {}, { 'headers': { 'Authorization':  'Bearer ' + this.token }}).then(({data})=>{
                this.signOut()
                this.$router.push({name:"login"})
            })
        }
    }
}
</script>